.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.netlify
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.types
log.*
*.log
test-results.json
/storybook-static
/src-tauri/target
/src-tauri/WixTools
/src-tauri/Cargo.lock
/playwright-report
/coverage
